<div class="container-fluid">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Company name (Angular 6 app)</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#/home">Products</a>
      <a class="p-2 text-dark" href="#/pricing">Pricing</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Login</a>
  </div>
  <div class="row">
    <div class="col">
        <div class="alert alert-light" role="alert" >
           <strong> User Full Name: </strong> {{activeUserFullName}} <span class="badge badge-secondary" placement="top" ngbTooltip="Login to see the logged in user's full name. If not logged in, the anonymous user's full name will be displayed.">?</span>
          </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  
<footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2" focusable="false" role="img"><title>Product</title><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Lorem mattis</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Etiam non varius velit</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Vestibulum finibus</a></li>
          <li><a class="text-muted" href="#">tempus faucibus est</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
          <h5>Lorem mattis</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Etiam non varius velit</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            
          </ul>
      </div>
      <div class="col-6 col-md">
          <h5>Lorem mattis</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Etiam non varius velit</a></li>
           
          </ul>
      </div>
      <div class="col-6 col-md">
          <h5>Lorem mattis</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Etiam non varius velit</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
           
            <li><a class="text-muted" href="#">tempus faucibus est</a></li>
          </ul>
      </div>
    </div>
  </footer>
</div>